.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #340e36;
    opacity: 0.9;
}

.sidebarOption_icon {
    padding: 10px;
    font-size: 15px !important;
}

.sidebarOption_channel {
    padding: 10px 0;
}

.sidebarOption_hash {
    padding: 10px;
}

.sidebarOption > h3 {
    font-weight: 500;
}